        <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">The Wedding of Mindy Empey & Matt Schwabenbauer</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a class="twitter-share-button"
                            href="https://twitter.com/intent/tweet?text=Check%20out%20Mindy%20and%20Matts%20wedding%20website%20http://mindyandmatt.com"
                            data-size="large">
                                <i class="fa fa-twitter">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmindyandmatt.com%2F&amp;src=sdkpreparse">
                                <i class="fa fa-facebook">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:mindyandmatt2017@gmail.com">
                                <i class="fa fa-envelope">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><p>September 8th, 2017 in Seattle | 5216 Ballard Ave NW, Seattle, WA 98107
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>