<% include partials/header %>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Mindy Empey<br> & <br> Matt Schwabenbauer</div>
                <div class="intro-heading">Sept 8, 2017</div>
            </div>
        </div>
    </header>

    <section id="ceremony">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Ceremony</h2>
                    <h3 class="section-subheading text-muted">September 8th, 2017 in Seattle, Washington</h3>
                    <h4 class="section-subheading service-heading custom-subheading ">Hotel Ballard | 5216 Ballard Ave NW, Seattle, WA 98107</h4>
                    <h3 class="section-subheading custom-subheading3 text-muted">Ceremony at 5:00 PM<br>Reception at 6:30 PM</h3>
                    <p class="section-subheading custom-subheading2">Our ceremony and reception will be held at the Olympic Rooftop Pavillion above Hotel Ballard. The ceremony will begin at 5:00 PM the afternoon of Friday, September 8th, 2017. Beer and wine selections will be available prior to the ceremony, beginning at 4:30 PM. This will be followed by a cocktail hour in the main lobby of Hotel Ballard, after which we will return to the rooftop pavillion for our reception at 6:30 PM.</p>
                </div>
            </div>
            <div class="row text-center">
                <a class="col-md-4" href="http://www.stoneburnerseattle.com/the-olympic-rooftop-pavilion">
                    <img class="ceremony-img" src="/img/rooftopPavillion.jpg">
                    <h4 class="service-heading">Venue</h4>
                    <p class="lead">The Olympic Rooftop Pavillion above Hotel Ballard</p>
                    <p class="text-muted">This space has gorgeous views of the mountains and waterways surrounding the North of Seattle. The pavillion offers guests the opportunity to enjoy the beatiful Pacific Northwest in an open air setting. On the main floor of Hotel Ballard is the award winning Stoneburner Restaurant. Stoneburner offers a menu specializing in meals cooked in a stone hearth oven created using natural ingredients from the Pacific Northwest. Stoneburner will be catering our reception.</p>
                </a>
                <div class="col-md-4" >
                    <a href="https://www.google.com/maps/place/5216+Ballard+Ave+NW,+Seattle,+WA+98107/@47.666281,-122.384815,17z/data=!3m1!4b1!4m5!3m4!1s0x549015c7b2084f1b:0x3d72e567c9667b01!8m2!3d47.666281!4d-122.382621"><img class="ceremony-img" src="/img/hotelBallard.png"></a>
                    <a href="https://www.google.com/maps/place/5216+Ballard+Ave+NW,+Seattle,+WA+98107/@47.666281,-122.384815,17z/data=!3m1!4b1!4m5!3m4!1s0x549015c7b2084f1b:0x3d72e567c9667b01!8m2!3d47.666281!4d-122.382621">
                        <h4 class="service-heading">Location</h4>
                    </a>
                    <a class="lead" href="https://www.google.com/maps/place/5216+Ballard+Ave+NW,+Seattle,+WA+98107/@47.666281,-122.384815,17z/data=!3m1!4b1!4m5!3m4!1s0x549015c7b2084f1b:0x3d72e567c9667b01!8m2!3d47.666281!4d-122.382621">Hotel Ballard - 5216 Ballard Ave NW, Seattle, WA 98107</a>
                    <br>
                    <br>
                    <a href="http://www.visitseattle.org/neighborhoods/ballard/">
                        <p class="text-muted">Our venue is located in the Ballard neighborhood in Northern Seattle, Washington. Ballard is a beautiful community in that was previously a fishing village. Modern Ballard offers visitors some of the best restaurants and nightlife in the Pacific Northwest. There are many attractions in this waterside community, including the beaches of Golden Gardens park, the fish ladder at Ballard Locks, and many shops and restaurants along Ballard Avenue. We encourage our visitors to explore this beautiful neighborhood during their stay in Seattle.
                        </p>
                    </a>
                </div>
                <a class="col-md-4" href="https://www.airbnb.com/s/Seattle?af=43720035&c=A_TC%3Dmbrtnfjeqq%26G_MT%3De%26G_CR%3D100808698576%26G_N%3Dg%26G_K%3Dairbnb%20seattle%26G_P%3D%26G_D%3Dc&atlastest5=true&gclid=CjwKEAiA-rfDBRDeyOybg8jd2U4SJAAoE5Xqm2cR0u4tph_qrTeD48MKd3AUDiva9spDcFjxJbNk3BoC6N_w_wcB&page=1&allow_override%5B%5D=&checkin=09%2F07%2F2017&checkout=09%2F09%2F2017&ss_id=21huez9p&guests=2&adults=2&children=0&infants=0&room_types%5B%5D=Entire%20home%2Fapt&s_tag=EktANwjd">
                    <img class="ceremony-img spaceFix" src="img/seattle.jpg">
                    <h4 class="service-heading">Accomodations</h4>
                    <p class="lead">Stay in Ballard, Fremont, Wallingford, or Phinney Ridge</p>
                    <p class="text-muted">There are a very limited number of rooms available at our wedding venue. Due to the lack of traditional hotels in Northern Seattle, we recommend our guests arrange accomodations through Airbnb. There are many affordable options in the Ballard, Fremont, Wallingford and Phinney Ridge neighborhoods of Seattle that are a short Uber ride to our venue. Alternatively, there are many hotels that can be reserved in the core of downtown Seattle.</p>
                </a>
            </div>
        </div>
    </section>

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Photos</h2>
                    <a href="http://www.davidchophotography.com/"><h3 class="section-subheading text-muted">Engagement and wedding photography courtesy of David Cho</h3></a>
                    <h4 class="section-subheading service-heading custom-subheading ">A selection of our engagement photos</h4>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/1-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/2-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/3-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/4-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/5-preview.jpg" class="img-responsive" alt="">
                    </a>
                    <!--
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                    -->
                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/6-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/7-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/8-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/9-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/10-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/11-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/12-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image firstTimeline">
                                <img class="img-circle img-responsive " src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2013</h4>
                                    <h4 class="subheading">We meet in Houston, TX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We meet each other during a Halloween pub crawl while we are both living in Houston, TX. The mask Matt is wearing at the time is deceptive enough to convince Mindy and her friend Rachel to get a late night pizza with Matt and his friend Chad at Theo's Restaurant. One week later we have our first date at Uchi, a block away from where we first meet.</p>
                                </div>
                            </div>
                            </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2014</h4>
                                    <h4 class="subheading">Here comes Clementine</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After Mindy and our cat, Stinkins, move into Matt's apartment in Houston, we decide it's time to add another furry friend to our family. In a small town outside of Austin, we visit a litter of puppies that are a mixed breed of Corgi and Miniature Australian Shepherd. Before we can pick one of the pups, one of them picks us. The next day we take home Clementine.</p>
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2015</h4>
                                    <h4 class="subheading">Hi Seattle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After almost two years together in Texas, we agree it isn't somewhere we want to put down roots. In late August, we pack all of our belongings, pets and vehicles and leave for the Pacific Northwest. After 2,343 miles and five days of driving, we arrive at our apartment in the Queen Anne neighborhood of Seattle.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2016</h4>
                                    <h4 class="subheading">Mindy says yes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While staying at a cabin along the river in Snoqualmie Falls to celebrate each of our January birthdays, Mindy unwraps one of her presents and finds a small box inside. Inside the box is a diamond ring. The present was a board game.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016</h4>
                                    <h4 class="subheading">Our first house</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We realize that we are ready to call Seattle our home for the rest of our lives. After a couple stressful months of house hunting, we are lucky enough to buy a house in one of our favorite neighborhoods in Northern Seattle, Fremont. Clementine gets her own yard, and Stinkins gets plenty of ledges to hide from her on.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Our
                                    <br>Big
                                    <br>Day</h4>
                            </div>
                                <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017</h4>
                                    <h4 class="subheading">The big day</h4>
                                </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

 <section id="weddingParty" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wedding Party</h2>
                    <h2 class="section-subheading text-muted wp-title wedding-party">Bridesmaids</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/maggieEdited.jpg">
                    <p class="lead name">Maggie</p>
                    <p class="text-muted title">Maid of Honor - Friend of the Bride</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/marissaEdited.jpg">
                    <p class="lead name">Marissa</p>
                    <p class="text-muted title">Bridesmaid - Sister of the Bride</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/cassEdited.jpg">
                    <p class="lead name">Cassie</p>
                    <p class="text-muted title">Bridesmaid - Friend of the Bride</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/christaEdited.jpg">
                    <p class="lead name">Christa</p>
                    <p class="text-muted title">Bridesmaid - Friend of the Bride</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/chandraEdited.jpg">
                    <p class="lead name">Chandra</p>
                    <p class="text-muted title">Bridesmaid - Friend of the Bride</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/amyEdited.jpg">
                    <p class="lead name">Amy</p>
                    <p class="text-muted title">Bridesmaid - Friend of the Bride</p>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-12 text-center">
        
                    <h2 class="section-subheading text-muted wp-title wedding-party groomsmen">Groomsmen</h2>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/scottyEdited.jpg">
                    <p class="lead name">Scotty</p>
                    <p class="text-muted title">Best Man - Little Brother of the Groom</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/andyEdited.jpg">
                    <p class="lead name">Andy</p>
                    <p class="text-muted title">Best Man - Big Brother of the Groom</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/IanEdited.jpg">
                    <p class="lead name">Ian</p>
                    <p class="text-muted title">Groomsman - Friend of the Groom</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/bearEdited.jpg">
                    <p class="lead name">James</p>
                    <p class="text-muted title">Groomsman - Friend of the Groom</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/bumperEdited.jpg">
                    <p class="lead name">William</p>
                    <p class="text-muted title">Groomsman - Friend of the Groom</p>
                </div>
                <div class="col-sm-4 col-xs-6 partyIMG">
                    <img class="ceremony-img" src="/img/weddingParty/kirkyEdited.jpg">
                    <p class="lead name">Matt</p>
                    <p class="text-muted title">Groomsman - Friend of the Groom</p>
                </div>
            </div>
        </div>
    </section>

    <section id="registry">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Registry</h2>
                    <h3 class="section-subheading text-muted">Buy us stuff</h3>
                    <p class="section-subheading custom-subheading3">We are registered at <a href="https://www.zola.com/registry/mindyandmatt2017">Zola.com.</a> We have registered for some things that we think real adults are supposed to have, and some things that we think just look fun. The pricier items on our registry are group gifts, which means no individual person needs to buy them outright. That way, multiple people can contribute to the cost of a single gift. Please click the image below to be redirected to our registry.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                        <a class="zola-registry-embed" href="https://www.zola.com/registry/mindyandmatt2017"><img src="https://d1tntvpcrzvon2.cloudfront.net/vzassets/0.6.146/images/logos/zola-logo-black.svg">
            </div>
        </div>
    </section>



    


    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">

                                <img class="img-responsive img-centered" src="img/engagement/2.jpg" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/9.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">

                                <img class="img-responsive img-centered" src="img/engagement/11.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">

                                <img class="img-responsive img-centered" src="img/engagement/12.jpg" alt="">
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<% include partials/footer %>
