<!--
Page created by Matt Schwabenbauer
matthew.schwabby@gmail.com
Created by Modifying the Agency bootstrap template: https://startbootstrap.com/template-overviews/agency/
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Wedding of Mindy Empey and Matt Schwabenbauer</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,100,300,700,800" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Mindy & Matt 2017</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ceremony">Ceremony</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Photos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#registry">Registry</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Mindy Empey<br> & <br> Matt Schwabenbauer</div>
                <div class="intro-heading">Sept 8, 2017</div>
            </div>
        </div>
    </header>

    <section id="ceremony">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Ceremony</h2>
                    <h3 class="section-subheading text-muted">September 8th, 2017 in Seattle, Washington</h3>
                    <h4 class="section-subheading service-heading custom-subheading ">Hotel Ballard | 5216 Ballard Ave NW, Seattle, WA 98107</h4>
                    <p class="section-subheading custom-subheading2">Our ceremony and reception will be held at the Olympic Rooftop Pavillion above Hotel Ballard. The ceremony will begin on the afternoon of Friday, September 8th, 2017. This will be followed by a cocktail hour in the main lobby of Hotel Ballard, after which we will return to the rooftop pavillion for our reception. Exact times will be added closer to our wedding date.</p>
                </div>
            </div>
            <div class="row text-center">
                <a class="col-md-4" href="http://www.stoneburnerseattle.com/the-olympic-rooftop-pavilion">
                    <img class="ceremony-img" src="/img/rooftopPavillion.jpg">
                    <h4 class="service-heading">Venue</h4>
                    <p class="lead">The Olympic Rooftop Pavillion above Hotel Ballard</p>
                    <p class="text-muted">This space has gorgeous views of the mountains and waterways surrounding the North of Seattle. The pavillion offers guests the opportunity to enjoy the beatiful Pacific Northwest in an open air setting. On the main floor of Hotel Ballard is the award winning Stoneburner Restaurant. Stoneburner offers a menu specializing in meals cooked in a stone hearth oven created using natural ingredients from the Pacific Northwest. Stoneburner will be catering our reception.</p>
                </a>
                <div class="col-md-4" >
                    <iframe class="ceremony-img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.9338743293647!2d-122.38481504831853!3d47.666280979086636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549015c652f9cb73%3A0x62169f46a7670498!2sHotel+Ballard!5e0!3m2!1sen!2sus!4v1483637164465"  frameborder="0" style="border:0" allowfullscreen></iframe>
                    <a href="https://www.google.com/maps/place/5216+Ballard+Ave+NW,+Seattle,+WA+98107/@47.666281,-122.384815,17z/data=!3m1!4b1!4m5!3m4!1s0x549015c7b2084f1b:0x3d72e567c9667b01!8m2!3d47.666281!4d-122.382621">
                        <h4 class="service-heading">Location</h4>
                    </a>
                    <a class="lead" href="https://www.google.com/maps/place/5216+Ballard+Ave+NW,+Seattle,+WA+98107/@47.666281,-122.384815,17z/data=!3m1!4b1!4m5!3m4!1s0x549015c7b2084f1b:0x3d72e567c9667b01!8m2!3d47.666281!4d-122.382621">Hotel Ballard - 5216 Ballard Ave NW, Seattle, WA 98107</a>
                    <br>
                    <br>
                    <a href="http://www.visitseattle.org/neighborhoods/ballard/">
                        <p class="text-muted">Our venue is located in the Ballard neighborhood in Northern Seattle, Washington. Ballard is a beautiful community in that was previously a fishing village. Modern Ballard offers visitors some of the best restaurants and nightlife in the Pacific Northwest. There are many attractions in this waterside community, including the beaches of Golden Gardens park, the fish ladder at Ballard Locks, and many shops and restaurants along Ballard Avenue. We encourage our visitors to explore this beautiful neighborhood during their stay in Seattle.
                        </p>
                    </a>
                </div>
                <a class="col-md-4" href="https://www.airbnb.com/s/Seattle?af=43720035&c=A_TC%3Dmbrtnfjeqq%26G_MT%3De%26G_CR%3D100808698576%26G_N%3Dg%26G_K%3Dairbnb%20seattle%26G_P%3D%26G_D%3Dc&atlastest5=true&gclid=CjwKEAiA-rfDBRDeyOybg8jd2U4SJAAoE5Xqm2cR0u4tph_qrTeD48MKd3AUDiva9spDcFjxJbNk3BoC6N_w_wcB&page=1&allow_override%5B%5D=&checkin=09%2F07%2F2017&checkout=09%2F09%2F2017&ss_id=21huez9p&guests=2&adults=2&children=0&infants=0&room_types%5B%5D=Entire%20home%2Fapt&s_tag=EktANwjd">
                    <img class="ceremony-img spaceFix" src="img/seattle.jpg">
                    <h4 class="service-heading">Accomodations</h4>
                    <p class="lead">Stay in Ballard, Fremont, Wallingford, or Phinney Ridge</p>
                    <p class="text-muted">There are a very limited number of rooms available at our wedding venue. Due to the lack of traditional hotels in Northern Seattle, we recommend our guests arrange accomodations through Airbnb. There are many affordable options in the Ballard, Fremont, Wallingford and Phinney Ridge neighborhoods of Seattle that are a short Uber ride to our venue. Alternatively, there are many hotels that can be reserved in the core of downtown Seattle.</p>
                </a>
            </div>
        </div>
    </section>

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Photos</h2>
                    <h3 class="section-subheading text-muted">A selection of our engagement photos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/1-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/2-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/3-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/4-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/5-preview.jpg" class="img-responsive" alt="">
                    </a>
                    <!--
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                    -->
                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/6-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/7-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/8-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/9-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/10-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/11-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="col-md-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/engagement/12-preview.jpg" class="img-responsive" alt="">
                    </a>

                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image firstTimeline">
                                <img class="img-circle img-responsive " src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2013</h4>
                                    <h4 class="subheading">We meet in Houston, TX</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We meet each other during a Halloween pub crawl while we are both living in Houston, TX. The mask Matt is wearing at the time is deceptive enough to convince Mindy and her friend Rachel to get a late night pizza with Matt and his friend Chad at Theo's Restaurant. One week later we have our first date at Uchi, a block away from where we first meet.</p>
                                </div>
                            </div>
                            </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2014</h4>
                                    <h4 class="subheading">Here comes Clementine</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After Mindy and our cat, Stinkins, move into Matt's apartment in Houston, we decide it's time to add another furry friend to our family. In a small town outside of Austin, we visit a litter of puppies that are a mixed breed of Corgi and Miniature Australian Shepherd. Before we can pick one of the pups, one of them picks us. The next day we take home Clementine.</p>
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2015</h4>
                                    <h4 class="subheading">Hi Seattle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After almost two years together in Texas, we agree it isn't somewhere we want to put down roots. In late August, we pack all of our belongings, pets and vehicles and leave for the Pacific Northwest. After 2,343 miles and five days of driving, we arrive at our apartment in the Queen Anne neighborhood of Seattle.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2016</h4>
                                    <h4 class="subheading">Mindy says yes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While staying at a cabin along the river in Snoqualmie Falls to celebrate each of our January birthdays, Mindy unwraps one of her presents and finds a small box inside. Inside the box is a diamond ring. The present was a board game.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016</h4>
                                    <h4 class="subheading">Our first house</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We realize that we are ready to call Seattle our home for the rest of our lives. After a couple stressful months of house hunting, we are lucky enough to buy a house in one of our favorite neighborhoods in Northern Seattle, Fremont. Clementine gets her own yard, and Stinkins gets plenty of ledges to hide from her on.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Our
                                    <br>Big
                                    <br>Day</h4>
                            </div>
                                <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017</h4>
                                    <h4 class="subheading">The big day</h4>
                                </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="registry">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Registry</h2>
                    <h3 class="section-subheading text-muted">Buy us stuff</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <a class="zola-registry-embed" href="https://www.zola.com/registry/mindyandmatt2017" data-registry-key="mindyandmatt2017">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">The Wedding of Mindy Empey & Matt Schwabenbauer</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a class="twitter-share-button"
                            href="https://twitter.com/intent/tweet?text=Check%20out%20Mindy%20and%20Matts%20wedding%20website%20http://mindyandmatt.com"
                            data-size="large">
                                <i class="fa fa-twitter">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmindyandmatt.com%2F&amp;src=sdkpreparse">
                                <i class="fa fa-facebook">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:mindyandmatt2017@gmail.com">
                                <i class="fa fa-envelope">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><p>September 8th, 2017 in Seattle | 5216 Ballard Ave NW, Seattle, WA 98107
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">

                                <img class="img-responsive img-centered" src="img/engagement/2.jpg" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/9.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="img/engagement/10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">

                                <img class="img-responsive img-centered" src="img/engagement/11.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">

                                <img class="img-responsive img-centered" src="img/engagement/12.jpg" alt="">
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
