<% include partials/header2 %>

<div class="smaller-header">
    <div class="container">
        <div class="intro-text">
        <div class="intro-lead-in"><h1>RSVP</h1></div>
    </div>
    </div>
</div>
<div class="container search">

<div class="row text-left">
    <form class="form-horizontal" action="/rsvp/search/user/" method="GET">
        <legend>
            Search for an RSVP reservation by first and last name
        </legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="user">First Name</label>
                <div class="col-md-4">
                    <input id="textinput" class="form-control input-md" required type="text" name="first_name" placeholder="Search for a user"></input>
                    <span class="help-block"></span>
                </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="user">Last Name</label>
                <div class="col-md-4">
                    <input id="textinput" class="form-control input-md" required type="text" name="last_name" placeholder="Search for a user"></input>
                    <span class="help-block"></span>
                </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-primary btn-block"><i class="icon-search"></i> Search</button>
            </div>
        </div>
        </div>
    </form>
    <a href="../../../">Return to the index</a>
</div>

<% include partials/footer %>