<% include partials/header %>

<div class="smaller-header">
    <div class="container">
        <div class="intro-text">
        <div class="intro-lead-in"><h1>RSVP</h1></div>
    </div>
    </div>
</div>
<div class="container search">

<div class="row text-left">
    <form class="form-horizontal" action="/rsvp/search/user/" method="GET">
        <legend>
            Search for an RSVP reservation by first and last name
        </legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="user">First Name</label>
                <div class="col-md-4">
                    <input id="textinput1" class="form-control input-md" required type="text" name="first_name" placeholder="Search for a user"></input>
                    <span class="help-block"></span>
                </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="user">Last Name</label>
                <div class="col-md-4">
                    <input id="textinput2" class="form-control input-md" required type="text" name="last_name" placeholder="Search for a user"></input>
                    <span class="help-block"></span>
                </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <input type="submit" id="register" class="btn btn-primary btn-block" value="search"><i class="icon-search"></i></input>            </div>
        </div>
        </div>
    </form>
    <a href="../../../">Return to the index</a>
</div>

<!-- <script>
// $('#textinput1, #textinput2').bind('keyup', function() {
//     if(allFilled()) $('#register').removeAttr('disabled');
// });

// function allFilled() {
//     var filled = true;
//     $('body input').each(function() {
//         if($(this).val() == '') filled = false;
//     });
//     return filled;
// };
// </script>
-->
<% include partials/footer %>